repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        args: [--safe, --quiet]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
exclude: |
  (?x)^(
      examples|
      packages/python-ta/tests/fixtures/|
      packages/python-ta/tests/test_debug/snapshot_testing_snapshots|
      packages/python-ta/tests/test_debug/snapshot_tracer_testing_snapshots|
      packages/python-ta/tests/test_reporters/snapshots/test_html_server/test_no_watch_server_is_non_persistent/no_watch_html_server_snapshot.html|
      packages/python-ta/tests/test_reporters/snapshots/test_html_server/test_watch_persistence/watch_html_server_snapshot.html|
      packages/python-ta/tests/test_reporters/snapshots/test_html_reporter/test_injection/script_injection.html|
      packages/python-ta/tests/test_reporters/snapshots/test_html_reporter/test_markdown_escape/markdown_escape.html|
      packages/python-ta/tests/test_reporters/output_files/injection_script_output.html|
      packages/python-ta/tests/test_reporters/output_files/markdown_escape_output.html|
      packages/python-ta/tests/test_reporters/snapshots/test_html_server/test_watch_update/
  )

ci:
  autoupdate_schedule: quarterly
