<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>

		<div id="preheader">
			<div id="module">
				Module analysed: 
			</div>
			<span id="date">
				Generated: Wed. May. 24 2017, 10:12:35
			</span>
		</div>

	<div id="header">
		<div class="title">
			PyTA Error Report
		</div>
	</div>

	<br/>

	<div id="inside">
		<div id="core">

			<div id="code">
				=== Code errors/forbidden usage (fix these right away!) ===
			</div>
			<u1>
				
					<p/>
					<p style="font-size: 110%">
						<span class="code_id">
						<a href="http://www.cs.toronto.edu/~david/pyta/&#35;E9999" target="_blank">E9999 (forbidden-import)</a> </span>
						&nbsp;&nbsp;Number of occurrences: 1
					</p>
					
						<div style="font-weight:bold">
						&nbsp;&nbsp;[Line 1] You may not import any modules - you imported re on line 1. <p/>
						
						</div>
					
				
			</u1>

			<div id="style">
			=== Style/convention errors (fix these before submission) ===
			</div>

			<u1>
				
					<p/>
					<p style="font-size: 110%">
						<span class="style_id">
						<a href="http://www.cs.toronto.edu/~david/pyta/&#35;C0305" target="_blank">C0305 (trailing-newlines)</a> </span>
						&nbsp;&nbsp;Number of occurrences: 1
					</p>
					
						<div style="font-weight:bold">
						&nbsp;&nbsp;[Line 15] Trailing newlines <p/>
						
						</div>
					
				
					<p/>
					<p style="font-size: 110%">
						<span class="style_id">
						<a href="http://www.cs.toronto.edu/~david/pyta/&#35;C0111" target="_blank">C0111 (missing-docstring)</a> </span>
						&nbsp;&nbsp;Number of occurrences: 1
					</p>
					
						<div style="font-weight:bold">
						&nbsp;&nbsp;[Line 1] Missing module docstring <p/>
						
						</div>
					
				
					<p/>
					<p style="font-size: 110%">
						<span class="style_id">
						<a href="http://www.cs.toronto.edu/~david/pyta/&#35;E9998" target="_blank">E9998 (IO-function-not-allowed)</a> </span>
						&nbsp;&nbsp;Number of occurrences: 2
					</p>
					
						<div style="font-weight:bold">
						&nbsp;&nbsp;[Line 8] Used IO function print <p/>
						
						</div>
					
						<div style="font-weight:bold">
						&nbsp;&nbsp;[Line 10] Used IO function print <p/>
						
						</div>
					
				
			</u1>

		</div>
		<a href="mailto:david@cs.toronto.edu">
			<div id="report_bug">
				Found a bug? Report it to Prof. Liu!
			</div>
		</a>
	</div>
</body>
<div id="logo">
		<a href="http://www.cs.toronto.edu/~david/pyta/" target="_blank">
			<img src="pyta_logo_markdown.png" alt="PyTA logo" height="50"/>
		</a>
	</p>
</div>
</html>