<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PyTA Error Report</title>
        <style rel="stylesheet">
            {% include "stylesheet.css" %}
            {% include "material.css" %}
        </style>
    </head>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span id="logo">
                <img src="data:image/png;base64,{{ pyta_logo }}" alt="PyTA logo" height="50"/>
                </span>
                <span class="mdl-layout-title">PyTA Error Report <span id="date">({{ date_time }})</span></span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="http://www.cs.toronto.edu/~david/pyta/" target="_blank">Help</a>
                </nav>
            </div>
        </header>
        <div class="body_">
            <main class="mdl-layout__content">
                <div class="page-content">
                    {% for file in reporter.messages_by_file %}
                    <section>
                        <article class="file-name">
                            <h2> {{ file.filename }} </h2>
                        </article>
                        <article class="error-output code-errors">
                            <h2 class="category-heading">
                                {{ reporter.code_err_title }}
                                <span class="slider">
                                <button>Expand/Collapse Section</button>
                                </span>
                            </h2>
                            <div class="content collapsible">
                                {% for message in file.code %}
                                <div class="error-instance">
                                    <div class="info">
                                        <span class="error-link code-error-id">
                                        <a href="http://www.cs.toronto.edu/~david/pyta/&#35;{{message}}" target="_blank">&#10064; {{ message }} ({{ file.code[message][0].symbol }})</a>
                                        </span>
                                        <span class="occurrences">
                                        {{ file.code[message]|length }} occurrences.
                                        </span>
                                        <span class="slider">
                                        <button> Expand/Collapse </button>
                                        </span>
                                    </div>
                                    <div class="message-container collapsible">
                                        {% for indiv in file.code[message] %}
                                        <div class="message">
                                            <h4 class="message-name">
                                                [Line {{ indiv.line }}] {{ indiv.msg }}
                                            </h4>
                                            {% if indiv.snippet != '' %}
                                            <pre>{{ indiv.snippet }}</pre>
                                            {% else %}
                                            <span class="empty-placeholder">{{ reporter.no_snippet }}</span>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                <span class="empty-placeholder">{{ reporter.no_err_message }}</span>
                                {% endfor %}
                            </div>
                        </article>
                        <article class="error-output style-errors">
                            <h2 class="category-heading">
                                {{ reporter.style_err_title }}
                                <span class="slider">
                                <button>Expand/Collapse Section</button>
                                </span>
                            </h2>
                            <div class="content collapsible">
                                {% for message in file.style %}
                                <div class="error-instance">
                                    <div class="info">
                                        <span class="error-link style-error-id">
                                        <a href="http://www.cs.toronto.edu/~david/pyta/&#35;{{message}}" target="_blank">&#10064; {{ message }} ({{ file.style[message][0].symbol }})</a>
                                        </span>
                                        <span class="occurrences">
                                        {{ file.style[message]|length }} occurrences.
                                        </span>
                                        <span class="slider">
                                        <button> Expand/Collapse </button>
                                        </span>
                                    </div>
                                    <div class="message-container collapsible">
                                        {% for indiv in file.style[message] %}
                                        <div class="message">
                                            <h4 class="message-name">
                                                [Line {{ indiv.line }}] {{ indiv.msg }}
                                            </h4>
                                            {% if indiv.snippet != '' %}
                                            <pre>{{ indiv.snippet }}</pre>
                                            {% else %}
                                            <span class="empty-placeholder">{{ reporter.no_snippet }}</span>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                <span class="empty-placeholder">{{ reporter.no_err_message }}</span>
                                {% endfor %}
                            </div>
                        </article>
                    </section>
                    {% endfor %}
                </div>
            </main>
            <footer>
                <div id="report-bug">
                    <a href="mailto:david@cs.toronto.edu">Found a bug? Report it to Prof. Liu!</a>
                </div>
            </footer>
            <script type="text/javascript">
                {% include "jquery-3.2.1.min.js" %}
                {% include "script.js" %}
            </script>
        </div>
    </div>

</html>